*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
body{
    background: #151517;
    color: #fff;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
::selection { background: rgb(10, 169, 63); }
body::-webkit-scrollbar {
  width: 1em;
  }
   
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
body::-webkit-scrollbar-thumb {
  background-color: rgb(116, 116, 116);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1e1e21;
    padding: 1.2rem 15rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-logo{
    height: 1.6rem;
}
.nav-link{
    position: relative;
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-size: 0.7rem;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-out;
}
.link-container{
    position: relative;
}
.link-info{
    position: absolute;
    display: none;
    width: 15rem;
    padding: 1rem;
    font-size: 0.7rem;
    line-height: 1.5;
    left: 0;
    top: 1.5rem;
    background-color: #28282c;
    transform: translateY(2rem);
}
.link-container:hover > .link-info{
    display: flex;
    transform: translateY(0);
}
.article-container{
    padding: 3rem 15rem;
}
.article{
    margin: 4rem 0;
}
.article-heading{
    font-weight: 900;
    font-size: 4rem;
}
.article-text{
    line-height: 2.4;
    font-weight: 400;
    font-size: 1rem;
}
.article-category{
    background: rgb(10, 169, 63);
    padding: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
    max-width: fit-content;
    margin: 1rem 0;
}